@model WebSociosComunidad.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar Clave";
}
@section header{
    <h1 class="page-header">
        @ViewBag.Title.
    </h1>
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Desde Aqui Puede Cambiar Su Clave</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    Clave Actual
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    Clave Nueva
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    Confrimá la Clave Nueva
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Cambiar Clave" class="btn btn-success btn-block" />
                </div>
            </div>
        }
    </div>
</div>