@model IEnumerable<Entidades.EF.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="page-title">
            <div class="title_left">
                <h3>Gestion De Usuarios</h3>
            </div>

            <div class="title_right">



            </div>
        </div>
    </div>
</div>
@if (ViewBag.MsjError != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <strong>@ViewBag.MsjError</strong>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                Usuarios
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("Register", "Account")" class="btn btn-block btn-info">
                            Nuevo Usuario
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="display table" id="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Usuario
                                        </th>
                                        <th>
                                            Complejo
                                        </th>
                                        <th>
                                            Perfiles
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>

                                </tfoot>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.complejo.descripcion)
                                                </td>
                                                <td>
                                                    @foreach (var perf in item.AspNet_Perfiles)
                                                    {
                                                        @perf.descripcion
                                                        <span>|</span>
                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", new { id = item.Id })" title="Usuarios Linea" class="btn btn-xs btn-info">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    @if (ViewBag.Finales != null && ViewBag.Finales == "2")
                                                    {
                                                        <a href="@Url.Action("PerfilesEncargado", new { id = item.Id })" title="Perfiles del Usuarios" class="btn btn-xs btn-primary">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    }
                                                    @if (ViewBag.Finales != null && ViewBag.Finales == "1")
                                                    {
                                                        <a href="@Url.Action("PerfilesFinales", new { id = item.Id })" title="Perfiles del Usuarios" class="btn btn-xs btn-primary">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                    }
                                                  
                                                    @if (ViewBag.Finales == null)
                                                    {
                                                        <a href="@Url.Action("Perfiles", new { id = item.Id })" title="Perfiles del Usuarios" class="btn btn-xs btn-primary">
                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                        </a>
                                                        <a href="#" class="btn btn-primary btn-xs" title="Roles (ControllerAction Permitidas) Asociados" data-toggle="modal" data-target="#perfil-@Html.DisplayFor(modelItem => item.Id)">
                                                            <i class="fa fa-users" aria-hidden="true"></i>
                                                        </a>
                                                    }
                                                    <a href="@Url.Action("Delete", new { id = item.Id })" title="Eliminar" class="btn btn-xs btn-danger">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var item in Model)
{
    <div class="modal fade bs-example-modal-lg" id="perfil-@Html.DisplayFor(modelItem => item.Id)" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">@item.UserName:  Roles Asignados (ControllerAction)</h4>
                </div>
                <div class="modal-body">
                    @foreach (var rol in item.AspNetRoles)
                    {
                        <p>@rol.Name</p>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
}

@section Script{
    <script>
        $(document).ready(function () {
            $("#table").DataTable(
                 {
                     "paging": false,
                     "language": {
                         "lengthMenu": "Mostrando _MENU_ Filas por Pagina",
                         "zeroRecords": "Nothing found - sorry",
                         "info": "Mostrando Pagina _PAGE_ De _PAGES_",
                         "infoEmpty": "No se Encontraron Resultados",
                         "infoFiltered": "(Filtrados de un Total de  _MAX_ Filas)",
                         "paginate": {
                             "first": "Primer",
                             "last": "Ultimo",
                             "next": ">",
                             "previous": "<"
                         },
                         "search": "Buscar:",
                     }
                 });
        });
    </script>
}