@model IEnumerable<Entidades.EF.tipo_beneficio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="page-title">
            <div class="title_left">
                <h3>Gestion De tipos De beneficios</h3>
            </div>

            <div class="title_right">
                <div class="col-md-8 col-sm-8col-xs-12 form-group pull-right top_search">
                    <div class="small text-primary">
                        Los tipos de beneficios son los beneficios por los que un socio suma puntos.
                        Por ejemplo un alquiler de cancha.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">Complejos</div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("Create")" class="btn btn-block btn-info">
                            Nuevo Tipo Beneficio
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed ">
                                <tr>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th>
                                       Puntos Por Monto
                                    </th>
                                    <th title="Usuario ultima modificacion">
                                       Usuario
                                    </th>
                                    <th title="Fecha Ultima Modificacion">
                                      Fecha
                                    </th>
                                    <th title="Si la fecha baja es vacia, esta activo">
                                      Fecha Baja
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.descripcion)
                                    </td>
                                    <td title="$@Html.DisplayFor(modelItem => item.monto_dinero) equivale a @Html.DisplayFor(modelItem => item.puntos) puntos">
                                        $@Html.DisplayFor(modelItem => item.monto_dinero) = @Html.DisplayFor(modelItem => item.puntos) puntos.
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usuario_modificacion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fecha_modificacion)
                                    </td>                                   
                                    <td>
                                        <a href="@Url.Action("Edit", new {id = item.id})" title="Editar Perfil" class="btn btn-xs btn-info">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="@Url.Action("Details", new {id = item.id})" title="Detalle" class="btn btn-xs btn-primary">
                                            <i class="fa fa-bars" aria-hidden="true"></i>
                                        </a>
                                        <a href="@Url.Action("Delete", new {id = item.id})" title="Eliminar" class="btn btn-xs btn-danger">
                                            <i class="fa fa-close"></i>
                                        </a>                                       
                                    </td>
                                </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>