@model Entidades.EF.socio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="page-title">
            <div class="title_left">
                <h3>Detalle Socio</h3>
            </div>

            @*<div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input class="form-control" placeholder="Search for..." type="text">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">Socio</div>
            <div class="x_content">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.nombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.nombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.apellido)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.apellido)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.documento)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.documento)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.celular)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.celular)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.mail)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.mail)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.direccion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.direccion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.localidad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.localidad)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.provincia)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.provincia)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fecha_alta)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fecha_alta)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.usuario_alta)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.usuario_alta)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fecha_modificacion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fecha_modificacion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.usuario_modificacion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.usuario_modificacion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fecha_baja)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fecha_baja)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.observaciones)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.observaciones)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Volver", "Index")
                </p>
            </div>
        </div>
    </div>
</div>



