@model  IEnumerable<WebComunidad.Models.CanjePuntosConsultas.TotalesPorComplejoModels>
@{
    ViewBag.Title = "TotalesPorComplejo";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-title">
            <div class="title_left">
                <h3>Total de Canje de Puntos por Complejo</h3>
            </div>

            <div class="title_right">
                <div class="col-md-12 form-group pull-right top_search">
                    <small class="text-danger">
                        Desde Aqui puede consultar los totales de puntos y premios canjeados en cada complejo. Ademas los puntos cargados en cada complejo.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Estadisticas </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4">
                            Fecha Desde
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                <input name="fechaDesde" placeholder="Fecha Desde" class="form-control datepicker" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            Fecha Hasta
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                <input name="fechaHasta" placeholder="Fecha Hasta" class="form-control datepicker" required />
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-success" title="Buscar" value="Buscar" id="btn-Buscar">
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> @ViewBag.SubTitulo</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        @foreach (var t in Model)
                        {
                        <div class="col-md-6">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Complejo:  @t.Complejo</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Totales</h3>
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr class="success">
                                                        <td>Puntos Cargados</td>
                                                        <td class="text-right">@t.TotalPuntosCargados</td>
                                                        <td class="text-right">@t.PorcentajePuntosCargadosDelTotal.ToString("N") % del Total</td>
                                                    </tr>
                                                    <tr class="warning">
                                                        <td>Puntos Canjeados</td>
                                                        <td class="text-right">@t.TotalPuntosCanjeados</td>
                                                        <td class="text-right">@t.PorcentajePuntosDelTotal.ToString("N") % del Total</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Premios Canjeados</td>
                                                        <td class="text-right">@t.TotalCanjesRealizados</td>
                                                        <td class="text-right">@t.PorcentajeCanjesDelTotal.ToString("N") % del Total</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Premios Canejados</h3>
                                            <table class="table table-hover">
                                                <tbody>
                                                    @if (t.ListPremios != null)
                                                    {
                                                        foreach (var p in t.ListPremios)
                                                        {
                                                            <tr>
                                                                <td>@p.Premio</td>
                                                                <td class="text-right">@p.CantidadCanjeada </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Script {
    <script>
        $(function () {
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '<Ant',
                nextText: 'Sig>',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };

            $.datepicker.setDefaults($.datepicker.regional['es']);
            $(".datepicker").datepicker();
        });
    </script>

}

