@model Entidades.EF.carga_puntos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>carga_puntos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.socio_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.socio_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_beneficio_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_beneficio_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto_cargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_cargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puntos_cargados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puntos_cargados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_beneficio_monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_beneficio_monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_beneficio_puntos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_beneficio_puntos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_alta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_alta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_alta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_alta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario_modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_modificacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
