@model WebComunidad.Models.CargaPuntos.CargaPuntosIndexModels

@{
    ViewBag.Title = "Todas";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-title">
            <div class="title_left">
                <h3>Cargas De puntos <small>Complejo: @ViewBag.Complejo</small></h3>
            </div>

            <div class="title_right">
                <div class="col-md-12 pull-right top_search">
                    <small class="text-info">
                        Desde Aqui puede consultar las Cargas de puntos realizadas.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Nueva Carga de Puntos</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-12">
                        <a href="@Url.Action("Create")" class="btn btn-block btn-info">
                            Cargar Puntos
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">Cargas De puntos</div>
            <div class="x_content">
                @using (Html.BeginForm("PorFechaTodas", "CargaPuntos"))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6">
                            Fecha Desde
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                @Html.EditorFor(model => model.FechaDesde, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            Fecha Hasta
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                @Html.EditorFor(model => model.FechaHasta, new { htmlAttributes = new { @class = "form-control datepicker", @required = "required" } })
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-success" title="Buscar" value="Buscar" id="btn-Buscar">
                                </span>
                            </div>
                        </div>
                    </div>
                }
                @if (Model != null && Model.ListCargaPuntos != null && Model.ListCargaPuntos.Count > 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div> Total de Cargas: <span class="text-info">@Model.ListCargaPuntos.Count Carga de puntos realizadas.</span></div>
                        </div>
                        <hr />
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>
                                                Socio
                                            </th>
                                            <th>
                                                Tipo Beneficio
                                            </th>
                                            <th>
                                                Puntos
                                            </th>
                                            <th>
                                                Monto
                                            </th>

                                            <th>
                                                Complejo
                                            </th>
                                            <th>
                                                Obs
                                            </th>
                                            <th>
                                                Fecha Alta
                                            </th>
                                            <th>
                                                Usuario
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>

                                            </th>
                                            <th>

                                            </th>
                                            <th>
                                                @Model.ListCargaPuntos.Sum(p => p.puntos_cargados)  Puntos
                                            </th>
                                            <th>
                                                $@Model.ListCargaPuntos.Sum(p => p.monto_cargado)
                                            </th>

                                            <th>

                                            </th>
                                            <th>

                                            </th>
                                            <th>

                                            </th>
                                            <th>

                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    @foreach (var item in Model.ListCargaPuntos)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.socio.apellido), @Html.DisplayFor(modelItem => item.socio.nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tipo_beneficio.descripcion)
                                            </td>
                                            <td>
                                                <strong>  @Html.DisplayFor(modelItem => item.puntos_cargados) Puntos</strong>
                                            </td>
                                            <td>
                                                $@Html.DisplayFor(modelItem => item.monto_cargado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.complejo.descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.observaciones)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.fecha_alta)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.usuario_alta)
                                            </td>
                                            <td>
                                                @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section Script {
    <script>
        $(function () {
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '<Ant',
                nextText: 'Sig>',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };

            $.datepicker.setDefaults($.datepicker.regional['es']);
            $(".datepicker").datepicker();
        });
    </script>

}