@using Microsoft.AspNet.Identity
@using System.Security.Claims;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title :: Socios - Netbol</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Target/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="~/Content/Target/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="~/Content/Target/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="~/Content/Target/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="~/Content/Target/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/Target/assets/js/Lightweight-Chart/cssCharts.css">
    <link rel="shortcut icon" href="~/Img/favicon.ico">

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="@Url.Action("index","home")"><img class="img-responsive center-block" src="~/Img/logoMenu.png" /></a>                
                <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>@(((ClaimsIdentity)User.Identity).FindFirstValue("NombreSocio"))</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li>
                <a href="@Url.Action("Index", "Perfil")"><i class="fa fa-user fa-fw"></i> Perfil</a>
            </li>
            <li>
                <a href="@Url.Action("changepassword", "manage")"><i class="fa fa-key fa-fw"></i> Cambiar Clave</a>
            </li>

            <li>
                <a href="@Url.Action("LogOff", "Account")"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
            </li>
        </ul>
        <!--/. NAV TOP  -->
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="@Url.Action("Index", "Perfil")" class="waves-effect waves-dark"><i class="fa fa-user"></i> Perfil</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Puntos")" class="waves-effect waves-dark"><i class="fa fa-star"></i>Consulta Puntos</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Canjes")" class="waves-effect waves-dark"><i class="fa fa-shopping-cart"></i>Consulta Canjes</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AlAlcance", "Canjes")" class="waves-effect waves-dark"><i class="fa fa-hand-o-right"></i>Premios A Tu Alcance</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div class="header">               
                @RenderSection("header", required: false)
            </div>                                    
            <div id="page-inner">
                @RenderBody()
                <footer>
                    <p>Desarrollo  <a href="http://www.wiphalasistemas.com.ar" target="_blank"> Wiphala Sistemas</a></p>
                </footer>
            </div>
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <script src="~/Content/Target/assets/js/jquery-1.10.2.js"></script>

    <!-- Bootstrap Js -->
    <script src="~/Content/Target/assets/js/bootstrap.min.js"></script>

    <script src="~/Content/Target/assets/materialize/js/materialize.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="~/Content/Target/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="~/Content/Target/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="~/Content/Target/assets/js/morris/morris.js"></script>


    <script src="~/Content/Target/assets/js/easypiechart.js"></script>
    <script src="~/Content/Target/assets/js/easypiechart-data.js"></script>

    <script src="~/Content/Target/assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="~/Content/Target/assets/js/custom-scripts.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
